**Fertility Diagnosis Homework**

https://archive.ics.uci.edu/ml/datasets/Fertility#

**Summary**
100 volunteers provide a semen sample analyzed according to the WHO 2010 criteria. Sperm concentration are related to socio-demographic data, environmental factors, health status, and life habits

**Attribute Information:**
1. **Season** in which the analysis was performed. 1) winter, 2) spring, 3) Summer, 4) fall. (-1, -0.33, 0.33, 1)
2. **Age** at the time of analysis. 18-36 (0, 1)
3. **Childish diseases** (ie , chicken pox, measles, mumps, polio) 1) yes, 2) no. (0, 1)
4. **Accident or serious trauma** 1) yes, 2) no. (0, 1)
5. **Surgical intervention** 1) yes, 2) no. (0, 1)
6. **High fevers** in the last year 1) less than three months ago, 2) more than three months ago, 3) no. (-1, 0, 1)
7. **Frequency of alcohol consumption** 1) several times a day, 2) every day, 3) several times a week, 4) once a week, 5) hardly ever or never (0, 1)
8. **Smoking habit** 1) never, 2) occasional 3) daily. (-1, 0, 1)
9. **Number of hours spent sitting** per day ene-16 (0, 1)
10. **Output:** Diagnosis normal (N), altered (O)

In [4]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn import datasets
import numpy as np
import matplotlib.pyplot as plt

In [5]:
#reading the file
data=pd.read_excel("Fertility_Diagnosis.xlsx")
data.shape

(100, 11)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Season                 100 non-null    float64
 1   Age                    100 non-null    float64
 2   Childish_Disease       100 non-null    int64
 3   Accident               100 non-null    int64
 4   Surgical_Intervention  100 non-null    int64
 5   High_Fever             100 non-null    int64
 6   Alcohol_Consumption    100 non-null    float64
 7   Smoking                100 non-null    int64
 8   Sitting                100 non-null    float64
 9   Diagnosis              100 non-null    object
 10  Diagnosis_Grade        100 non-null    int64
dtypes: float64(4), int64(6), object(1)
memory usage: 8.7+ KB

In [7]:
data.describe()

,Season,Age,Childish_Disease,Accident,Surgical_Intervention,High_Fever,Alcohol_Consumption,Smoking,Sitting,Diagnosis_Grade
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,-0.078900,0.669000,0.870000,0.440000,0.510000,0.190000,0.832000,-0.350000,0.406800,0.120000
std,0.796725,0.121319,0.337998,0.498888,0.502418,0.580752,0.167501,0.808728,0.186395,0.326599
min,-1.000000,0.500000,0.000000,0.000000,0.000000,-1.000000,0.200000,-1.000000,0.060000,0.000000
25%,-1.000000,0.560000,1.000000,0.000000,0.000000,0.000000,0.800000,-1.000000,0.250000,0.000000
50%,-0.330000,0.670000,1.000000,0.000000,1.000000,0.000000,0.800000,-1.000000,0.380000,0.000000
75%,1.000000,0.750000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.500000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
data.head()

,Season,Age,Childish_Disease,Accident,Surgical_Intervention,High_Fever,Alcohol_Consumption,Smoking,Sitting,Diagnosis,Diagnosis_Grade
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,N,0
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,O,1
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,N,0
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,N,0
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,O,1

In [9]:
#Mean age of participants
average=data["Age"].mean()
average*36

24.084000000000007

In [10]:
#Is there a correlation between the data?
data.corr().round(decimals=2)

,Season,Age,Childish_Disease,Accident,Surgical_Intervention,High_Fever,Alcohol_Consumption,Smoking,Sitting,Diagnosis_Grade
Season,1.00,0.07,-0.18,-0.10,-0.01,-0.22,-0.04,-0.03,-0.02,0.19
Age,0.07,1.00,0.08,0.22,0.27,0.12,-0.25,0.07,-0.44,0.12
Childish_Disease,-0.18,0.08,1.00,0.16,-0.14,0.08,0.04,0.09,-0.15,-0.04
Accident,-0.10,0.22,0.16,1.00,0.10,-0.08,-0.24,0.11,0.01,-0.14
Surgical_Intervention,-0.01,0.27,-0.14,0.10,1.00,-0.23,-0.08,-0.05,-0.19,0.05
High_Fever,-0.22,0.12,0.08,-0.08,-0.23,1.00,-0.00,-0.01,-0.15,-0.12
Alcohol_Consumption,-0.04,-0.25,0.04,-0.24,-0.08,-0.00,1.00,-0.18,0.11,-0.14
Smoking,-0.03,0.07,0.09,0.11,-0.05,-0.01,-0.18,1.00,-0.11,0.05
Sitting,-0.02,-0.44,-0.15,0.01,-0.19,-0.15,0.11,-0.11,1.00,0.02
Diagnosis_Grade,0.19,0.12,-0.04,-0.14,0.05,-0.12,-0.14,0.05,0.02,1.00

In [27]:
#Assign values
#X=(data.Season, data.Age, data.Childish_Disease, data.Accident, data.Surgical_Intervention, data.High_Fever, data.Alcohol_Consumption, data.Smoking, data.Sitting)
X=(data.Alcohol_Consumption, data.Smoking)
y=data.Diagnosis_Grade

In [36]:
#print("Alcohol Consumption shape is:", X.shape)
print("Diagnosis Grade shape is:", y.shape)
print("Data different groupss:", len(np.unique(y)))

Diagnosis Grade shape is: (100,)
Data different groupss: 2

In [29]:
#Re-usable code
def plot_clusters(X, idx1, idx2, y=None,):
    plt.scatter(X[:, idx1], X[:, idx2], c=y)
    plt.show()
    
def plot_centroids(centroids, weights=None, circle_color='w', cross_color='k'):
    if weights is not None:
        centroids = centroids[weights>weights.max() / 10]
        
    plt.scatter(centroids[:, idx1], centroids[:, idx2], marker='o', s=30, Linewidths=8, color=circle_color, zorder=10, alpha=0.9)
    plt.scatter(centroids[:, idx1], centroids[:, idx2], marker='x', s=50, Linewidths=50, color=cross_color, zorder=11, alpha=1)
    
def plot_clusters_labels(X, y=None):
    plt.scatter(X[:, idx1], X[:, idx2], c=y_pred)
    plot_centroids(kmeans,cluster_centres_)
    plt.show()

In [33]:
#Feature selection
idx1=0
idx2=1

In [31]:
#clustering the data
k=2 #number of clusters

#Fitting the model
kmeans=KMeans(n_clusters=k, random_state=42)

In [34]:
#Creating the predictions
y_pred = kmeans.fit_predict((X))
plot_clusters((X, idx1, idx2, y_pred))

TypeError: plot_clusters() missing 2 required positional arguments: 'idx1' and 'idx2'