In [3]:
import pandas as pd

In [6]:
#Series - 1-dimensional data structure
myseries=pd.Series([439,98.54, 'Hello World', 'Sea Breeze', -342])
print(myseries)

0            439
1          98.54
2    Hello World
3     Sea Breeze
4           -342
dtype: object

In [7]:
#How to create a dataframe, a 2-dimensional tabular data structure
#1.create dataframe
inventory={"CODE":[1,2,3,4],
          "PRODUCE": ["Avocado", "Banana","Courgette", "Cauliflower"],
          "ORIGIN": ["Mexico", "Costa Rica", "France", "UK"]}

#2.create variable
myframe=pd.DataFrame(inventory)

#3.print variable
print(myframe)

   CODE      PRODUCE      ORIGIN
0     1      Avocado      Mexico
1     2       Banana  Costa Rica
2     3    Courgette      France
3     4  Cauliflower          UK

In [8]:
#create index of your choice
myframe.index=["AV", "BN", "CG", "CF"]
print(myframe)

    CODE      PRODUCE      ORIGIN
AV     1      Avocado      Mexico
BN     2       Banana  Costa Rica
CG     3    Courgette      France
CF     4  Cauliflower          UK

In [6]:
#how to import data
#read the csv file using pd.read_csv
vetdata=pd.read_csv("vet_data.csv")
vetdata.drop(["Unnamed: 6"], axis=1, inplace=True) #get rid of unnamed columns, axis=1 for columns

In [ ]:
#pulling data just from one column
print(vertdata[["Pet_Name"]]) #double brackets include column header
print(vertdata[["Type", "Pet_Age", "Chipped"]])#multiple data columns
print(vetdata[0:4])#print the first 4 rows
print(vetdata.iloc[1])#index loaction 1 - prints the entire row 1
vetdata=pd.read_csv("")
print(vetdata.loc[["Smith", "Sorola"]]) #print observatiosn for SMith and Sorola